/* li {
  list-style-type: none;
  padding: 10px;
  border: solid salmon 5px;
  margin: 10px;
  width: 100%;
  background-color: white;
  text-align: center;
  list-style-position: inside;
} */
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;

  margin: auto;
  margin-top: 50px;
}
