.article {
  width: 60%;
  text-align: center;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: hotpink;
  border: 3px solid hotpink;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  margin: 10px;
  display: inline-block;
}

.body {
  border: 5px solid salmon;
  font-family: cursive;
  font-style: URW Chancery L;
  padding: 10px;
  background-color: white;
}

.comments {
  background-color: white;
}
.votes {
  background-color: white;
}
button {
  display: inline;
}
