.loginName {
  background-color: white;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: inline-block;
  margin: auto;
}
@media only screen and (max-width: 486px) {
  .loginName {
    background-color: white;
    font-size: 5vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
    margin: auto;
  }
}
