body {
  background-image: url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&w=1000&q=80");
  background-size: cover;
  background-attachment: fixed;
}
.myApp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
